@font-face {
    font-family: 'DOSSaemmul';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSSaemmul.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
h2{
    font-family: 'DOSSaemmul';
}

#result{
    display: none;
    width: 80%;
    text-align: center;

}

#shareResult{
    width:80%;
    text-align: center;
    
}

.resultname{
    font-size:25px;
}
.resultDesc{
    font-size: 17px;
}


.kakao{
    border:1px solid #95b1d6;
    background-color: white;
    font-size:18px;
    transition: all 0.5s;
}

.kakao:hover, .kakao:focus{
    background-color: #95b1d6;

}

.gohome{
    border:1px solid #95b1d6;
    background-color: white;
    font-size:18px;
    transition: all 0.5s;
}

.gohome:hover, .gohome:focus{
    background-color: #95b1d6;

}